/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
header, hgroup, menu, nav, section {
	display: block;
}

html {
	display: flex;
	flex-direction: column;
	height: 100%;
}
body {
	line-height: 1;
	background-color: #fffef8;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	display: flex;
    flex-direction: column;
    height: 100%;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

main {
	max-width: 1140px;
	margin:auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 90px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

/** Mode Edition **/

.edit-blackbar {
    background-color: black;
}

.edition {
    display: flex;
    justify-content: center;
    height: 55px;
}

.edition-mode-button {
    display: flex;
    align-items: center;
    background-color: black;
    border-style: none;
    cursor: pointer;
	color: white;
	font-family: 'work sans';
	font-size: 16px;
}

#icon-pen-edit-mode {
	display: flex;
	align-items: center;
	color: white;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li {
	cursor: pointer;
}

nav a {
	text-decoration: none;
	color: black;
}

#login:hover,
#logout:hover,
li a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-left: 15px;
}

.edit-project {
	display: flex;
    flex-direction: row;
    justify-content: center;
}

#icon-pen {
	display: flex;
	margin: 10px 0px 0px 27px;
}

.edit-button {
	cursor: pointer;
	border: none;
	display: flex;
	background-color: #fffef8;
	justify-content: center;
	align-items: center;
	height: fit-content;
	margin-top: 7px;
	padding-left: 7px;
	font-family: 'Work Sans' ;
	font-size: 16px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.categories {
	display: flex;
	justify-content: center;
	margin-bottom: 34px;
}

.category {
	font-family: 'Syne';
	background-color: white;
	color: #1D6154;
	margin-right: 8px;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 20px;
	border-color: #1D6154;
	border-width: 1px;
	border-style: solid;
	transition: transform 450ms, background-color 150ms;
}

.category:hover {
	transform: scale(1);
    background-color: #1D6154;
	color: white;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact,
#login > * {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	resize: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login #error {
	color: red;
	margin-top: 40px;
	font-weight: bold;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0e3027;
}

.forgetPassword {
	display: flex;
	justify-content: center;
	color: black;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 40px 100px;
	background-color: white;
}